*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{

    width: 100%;
    position: sticky !important;
    left: 0;
    top:0;
    background-image: linear-gradient(25deg,skyblue,blue);
    box-shadow: 0px 5px 9px rgba(0,0,0,.5);
    z-index: 10;
}

.navbar-brand{
    font-weight: 500;
}
.nav-link{
    color: aliceblue !important;
    
}

.nav-link:hover{
 border-bottom: 2px solid white;
}
section{
    width: 100%;
    min-height:100vh ;
}
/*home section*/
#home{
    width: 100%;
min-height: 100vh;
background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)),url(1630318405321-01.jpeg);
background-size: cover;
background-position:center, sticky;
background-repeat: no-repeat;
display:flex;
align-items: center;
color:white;
flex-direction: column;
}
#home p{
    position: absolute;
    top: 50%;
    font-family: fantasy ;
    font-size: 100px;
    opacity: 0;
    animation: text 3s ease-in-out;
}
#home p:nth-child(1)
{
    animation-delay: 0s;
}
#home p:nth-child(2)
{
    animation-delay: 3s;
}
#home p:nth-child(3)
{
    animation-delay: 6s;
}
#home p:nth-child(4)
{
    animation-delay: 9s;
}
#home p:nth-child(5)
{
    animation-delay: 12s;
}
#home span{
    color:aqua;
}

@keyframes text{
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

 @media  screen and (max-width:576px)
 {
    #home{
        background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)),url(1630318405321-01.jpeg);
background-size: cover ;
background-position:left;
background-repeat: no-repeat;
    }
    #home p{
        font-size: 60px;

    }
 }   
/*about*/
#about{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;    
}
.circle{
    width: 400px;
    height: 400px;
    background-color: aqua;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 5px 10px rgba(0,0,0,.5) ;
    margin-bottom: 2%;
    margin-top: 9%;
    transition: 0.5s;
}
.circle img{
    position: absolute;
    height: 510px;
    top: -25%;
    left: 30%;
    border: radius 20%;
    filter: drop-shadow(0px 60px 40px rgba(0,0,0,.5));
    transition: 1s;
}
.circle:hover{
    width: 600px;
    height: 500px;
    border-radius: 10px;
    transition: 0.5s;
 border-radius: 10%;
}
.circle:hover img{
    position: absolute;
    top: 5%;
    left: 0%;
    transition: 1s;
}
.circle .content{
    opacity: 0;

}
.circle:hover .content{
    position:absolute;
    top:10%;
    right: 0;
    color: black;
    width: 50%;
    opacity: 1;
}
@media  screen and (max-width:576px) {
    #about{
        background-color: blueviolet;
    }
   .circle{ width: 300px;
    height: 400px;
    background-color:#b90ce49c;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 5px 10px rgba(0,0,0,.5) ;
    margin-bottom: 25%;
    margin-top: 50%;
    transition: 0.5s;
   }
   .circle:hover img{
    position: absolute;
    height: 400px;
    top: -25%;
    left: 0%;
    transition: 1s;
}
.circle:hover{
    width:300px;
    height: 600px;
    border-radius: 10px;
    transition: 0.5s;
}
.circle .content{
    opacity: 0;

}
.circle:hover .content{
    position:absolute;
    top: 10%;
    right:0%;
    color: black;
    width: 200px;
    height: 5%;
    opacity: 1;
    
}
}
/*home section*/
#skill{
    padding-top: 5%;
    background: #e5e5e5;
}

#skill .container{
    margin-top:5%;
    margin-bottom: 6%;
}
/*,,........                                                               ...*/
.label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:25px;
    color: black;
    

}
.progress{
    height: 30px !important;
    box-shadow: 4px 7px 9px rgb(46, 46, 46);
}
.progress:hover{
    box-shadow: 4px 7px 9px skyblue, -2px -2px 9px grey;   
}


/*certification*/
#projects{
     display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(270deg,magenta,black);
}
.certificate{
    align-items: center;
    left: 20%;
    text-align: center !important;
}
.carousel{
    width: 40%;
    height:40%;
    top :5%;
    left:4%;
    margin-top:15%;
    margin-bottom: 5%;
    box-shadow: 10px 20px 7px rgba(0, 0,0,.2);
}
.carousel:hover{
    box-shadow: 10px 20px 9px magenta;
}
@media screen and (max-width:576px)
{
    .carousel{
    width: 80%;
    height: 80%;
    box-shadow: 10px 20px 7px rgba(0,0,0,rgba(0, 0,0,.4));
}
    
}

/*pricing
*/
#pricing{
    padding-top: 5%;
    background-image:linear-gradient(270deg,magenta,black);
    background-position: sticky !important;

}
.card{
    margin-top: 15%;
    margin-bottom: 10%;
}
.card:hover{
    box-shadow: 10px 10px 8px rgba(0,0,0,.9);
    transition: 0.5s;
}

#contact{
    height: 100px;
    width: 100%;
    background: linear-gradient(to right,#3f5efb,#fc466b);
    left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}
form{
    width: 25rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    background:rgba(255,255,255,.06);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,37);
    border-radius: 10px;
    border-left: 1px solid(255,255,255,.3);
    border-top: 1px solid(255,255,255,.3);
}
form:before{
    content:'';
    position: absolute;
    bottom: 3%;
    right: 20%;
    width: 200px;
    height: 200px;
    background:magenta;
    border-radius: 50%;
    z-index: -1;
    opacity: .7;
}
.contact{
    font-size:35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    text-shadow: 9px 6px 7px rgba(0, 0,0,.3);
    letter-spacing: 2px;
    margin-bottom: 5%;
    opacity: .5;
}
label{
    font-size: 20px;
    color: white;
    margin-left:35%;
    opacity: .6;
    text-shadow: 5px 9px 4px  rgba(0, 0,0,.6);
}
input{
    width: 100%;
    margin: 5% auto;
    margin-bottom: 7%;
    border:none;
    outline: none;
    background: transparent;
    color:white;
    border-bottom: 1px solid rgba(255,255,255,.6);
opacity: .5;
}
textarea{
    width: 100%;
    margin: 5% auto;
    margin-bottom: 7%;
    border:none;
    outline: none;
    background: transparent;
    border-bottom:1px solid rgba(255,255,255,.6);
    opacity: .5;
    
}
button{
    width: 50%;
    margin: 3% auto;
    color:white;
    font-size: 15px;
    opacity: .7;
    background: rgba(255,255,255,.06);
    padding: 10px 10px;
    border: none;
    outline: none;
    border-radius:20%;
    text-shadow: 2px 4px 4px rgba(255,255,255,.3);
    border-left: 1px solid rgba(255,255,255,.03);
    border-top: 1px solid rgba(255,255,255,.03);
    box-shadow: 3px 3px 5px rgba(31,38,135,37);
}